@model Brand
@{
    var entity = "Marka";
    ViewData["Title"] = $"{entity} Ekleme";
}
<form method="Post" enctype="multipart/form-data">
    @Html.HiddenFor(p => p.Date)
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"] Formu</h3>
        </div>
        <div class="card-body">
            <partial name="CreateOrEdit" model="Model" />
        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-link">İptal</a>
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> KAYDET
            </button>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <partial name="Select2Partial" />
    @*<partial name="SummernotePartial"/>*@
    <script>
        $(() => {
            $('#PictureFile').on('change', (e) => {
                var reader = new FileReader();
                reader.onloadend = (evt) => {
                    $('#picturePreview').attr('src', reader.result);
                };
                reader.readAsDataURL(document.getElementById('PictureFile').files[0]);

            });
        });
    </script>
}
